**/*.md
**/test

**/classpath
**/*.dockerignore
**/*.env
**/*.git
**/*.gitignore
**/*.project
**/*.settings
**/*.tooltarget
**/*.vs
**/*.vscode
**/*.*proj.user
**/*.dbml
**/*.jfm
**/adz.yaml
**/bin
**/charts
**/docker-compose
**/Dockerfile*
**/node-modules
**/npm-debug.log
**/obj